<section class="panel panel-padding" ng-controller="WeatherCtrl">

    <p>
        Bienvenue sur l'application Weather qui va te permettre de savoir la météo. <br> Tu peux choisir la ville pour laquelle tu veux la météo ou faire via ta position.
    </p>

    <p>
        <form ng-submit="search">
            <input type="text" class="text" placeholder="Rechercher une ville" ng-model="city">
        </form>
    </p>


    <p>
        <input type="submit" class="submit" value="Rechercher">
    </p>

</section>