/*@import "icon/*.png";*/
/* line 5, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@include all-icon-sprites;*/
/* line 13, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/style.scss */
input,
textarea {
  border: none;
  -webkit-appearance: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/*GENERIC-------------------------------------------------------------------------------------------------------------*/
/* line 27, ../sass/style.scss */
body {
  color: #8f99b7;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  background-color: #1f253d;
}

/* line 34, ../sass/style.scss */
i {
  display: inline-block;
}

/* line 38, ../sass/style.scss */
h1 {
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  margin: 45px 0;
  display: none;
}

/* line 47, ../sass/style.scss */
p {
  margin: 1em 0;
  overflow: hidden;
  *zoom: 1;
}

/* line 52, ../sass/style.scss */
b {
  font-weight: bold;
}

/* line 56, ../sass/style.scss */
input.text {
  display: block;
  width: 100%;
  height: 48px;
  border: 1px solid #1f253d;
  background-color: #4f597b;
  color: #ffffff;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 69, ../sass/style.scss */
input.textfocus {
  border: 1px solid #11a7ab;
}

/* line 74, ../sass/style.scss */
input.submit,
.btn {
  display: inline-block;
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #e54b65;
  float: right;
  text-decoration: none;
}

/* line 92, ../sass/style.scss */
.btn {
  background-color: #11a7ab;
  float: left;
}

/* line 97, ../sass/style.scss */
.back {
  position: absolute;
  top: -60px;
  left: 10px;
  background: url(../img/back.png) center center no-repeat;
  z-index: 10;
  width: 60px;
  height: 60px;
}

/* line 107, ../sass/style.scss */
.loader {
  background: url(../img/loader.gif) center center no-repeat rgba(57, 66, 100, 0.6);
  z-index: 500;
}

/* line 113, ../sass/style.scss */
.home {
  background: url(../img/home.png) center center no-repeat;
  width: 60px;
  height: 60px;
}

/* line 119, ../sass/style.scss */
.about {
  background: url(../img/about.png) center center no-repeat;
  width: 60px;
  height: 60px;
}

/*ELEMENT-------------------------------------------------------------------------------------------------------------*/
/* line 128, ../sass/style.scss */
.row-title {
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  background-color: #cb314b;
  -moz-border-radius: 4px 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 4px 0 0;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

/* line 140, ../sass/style.scss */
.row-info {
  height: 60px;
  background-color: #394163;
  margin: 1px 0;
  position: relative;
  line-height: 60px;
  white-space: nowrap;
}

/* line 149, ../sass/style.scss */
.row-active {
  height: 180px;
  background-color: #E64C65;
  color: #ffffff;
  position: relative;
}

/* line 156, ../sass/style.scss */
.date {
  float: left;
  padding-left: 2%;
}

/* line 161, ../sass/style.scss */
.owf {
  float: left;
  padding-left: 2%;
}

/* line 166, ../sass/style.scss */
.temperature {
  font-weight: bold;
  position: absolute;
  right: 2%;
}

/* line 172, ../sass/style.scss */
.plus {
  font-size: 10px;
  text-align: center;
  bottom: 10%;
  padding: 10%;
}

/*INTERFACE-----------------------------------------------------------------------------------------------------------*/
/* line 182, ../sass/style.scss */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #11a7ab;
}

/* line 195, ../sass/style.scss */
.view {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 60px;
  left: 0;
}

/* line 203, ../sass/style.scss */
.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #4f597b;
  overflow: hidden;
  *zoom: 1;
}
/* line 213, ../sass/style.scss */
.nav a {
  display: block;
  width: 50%;
  height: 60px;
  line-height: 60px;
  float: left;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 221, ../sass/style.scss */
.nav a:first-child {
  border-right: 1px solid #1f253d;
}
/* line 224, ../sass/style.scss */
.nav .active {
  border-top: 3px solid #11a7ab;
}
/* line 227, ../sass/style.scss */
.nav i {
  margin-top: 15px;
}

/* line 232, ../sass/style.scss */
.panel, .loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 242, ../sass/style.scss */
.panel p, .loader p {
  text-align: justify;
}

/* line 247, ../sass/style.scss */
.panel-padding {
  padding: 0 25px;
}

/* line 251, ../sass/style.scss */
.left {
  -moz-transform: translate3D(-100%, 0, 0);
  -ms-transform: translate3D(-100%, 0, 0);
  -webkit-transform: translate3D(-100%, 0, 0);
  transform: translate3D(-100%, 0, 0);
}

/* line 255, ../sass/style.scss */
.center {
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}

/* line 259, ../sass/style.scss */
.right {
  -moz-transform: translate3D(100%, 0, 0);
  -ms-transform: translate3D(100%, 0, 0);
  -webkit-transform: translate3D(100%, 0, 0);
  transform: translate3D(100%, 0, 0);
}
